<li id="<%= publication.id %>" class="ui-li-has-thumb">
  <%= link_to publication do %>
      <% if publication.publication_attachments.first %>
          <%= image_tag publication.publication_attachments.first.image %>
      <% end %>
      <h3> <%= publication.title.capitalize %> por @<%= publication.user.username %></h3>
      <% if publication.owned_by?(current_user) %>
          <h6>Click para editar u eliminar</h6>
      <% end %>
  <% end %>
</li>
