<%= content_for :title, "FitTable" %>
<% content_for :buttons do %>
    <%= link_to 'Atrás', publications_url, {"data-rel" => "back", :class => "ui-btn-left ui-btn ui-btn-inline ui-mini ui-corner-all ui-btn-icon-left ui-icon-back"} %>
<% end %>

<h1 class="center_title">
  <%= @publication.title %>
</h1>

<h4>Aclaración gráfica</h4>
<div id="owl-demo" class="owl-carousel owl-theme">
  <% @publication_attachments.each do |p| %>
      <div class="item" style="width: 100%">
        <% if p.image_url() %>
            <%= image_tag p.image_url() %>
        <% else %>
            <%= image_tag "default.jpg" %>
        <% end %>
        <br>
      </div>
  <% end %>
</div>

<h3>Descripción</h3>
<h5 style="text-align: justify"><%= @publication.description %></h5>

<% if @publication.owned_by?(current_user) %>
    <%= link_to 'Editar', edit_publication_path(@publication), data: {ajax: false, icon: "edit", role: "button"} %>
    <%= link_to "Eliminar", @publication, id: "delete_publication", data: {confirm: '¿seguro?'}, method: :delete, remote: false, data: {ajax: "false", icon: "delete", role: "button"} %>
<% end %>

<script type="text/javascript" charset="utf-8">
  $(document).ready(function () {
    $(".owl-carousel").owlCarousel({
      navigation: true,
      slideSpeed: 300,
      paginationSpeed: 400,
      singleItem: true
    });
    $("#delete_publication").on("click", function () {
      window.location("/");
    });
  });
</script>
