<%= image_tag @publication_attachment.image %>
<%= form_for(@publication_attachment, data: {ajax: false}) do |f| %>
    <div class="field">
      <%= f.label :image %><br>
      <%= f.file_field :image %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>