<p id="notice"><%= notice %></p>

<h1>Listing Publication Attachments</h1>

<table>
  <thead>
    <tr>
      <th>Publication</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @publication_attachments.each do |publication_attachment| %>
      <tr>
        <td><%= publication_attachment.publication_id %></td>
        <td><%= link_to 'Show', publication_attachment %></td>
        <td><%= link_to 'Edit', edit_publication_attachment_path(publication_attachment) %></td>
        <td><%= link_to 'Destroy', publication_attachment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Publication attachment', new_publication_attachment_path %>
