<!DOCTYPE html>
<html>
<head>
  <title>FitTable</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<div data-role="page" data-theme="a">
  <div data-role="header" data-position="inline">
    <h1><%= yield :title %></h1>
    <%= yield :buttons %>
  </div>

  <div class="ui-content" role="main">
    <%= yield %>
  </div>

  <%= render 'layouts/dialogs' %>

  <% if logged_in? %>
      <div id="footer" data-role="footer" data-position="fixed">
        <div data-role="navbar">
          <ul>
            <li> <%= link_to 'Buscar', search_publications_path, class: "ui-btn ui-btn-icon-top ui-icon-search", data: {ajax: "false"} %> </li>

            <li> <%= link_to 'Home', root_path, class: "ui-btn ui-btn-icon-top ui-icon-home ui-btn-active", data: {ajax: "false"} %> </li>

            <li> <%= link_to 'Favoritos', root_path, class: "ui-btn ui-btn-icon-top ui-icon-star", data: {ajax: "false"} %> </li>

          </ul>
        </div>
      </div>
      <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
          $("#footer li").on("click", function () {
            $(this).addClass("ui-btn-active");
          });
        });
      </script>
  <% end %>
</div>
</body>
</html>

<script>
  $(document).ready(function () {
        $("form br").remove();
      }
  );
</script>